{% extends 'djangoApp/base.html' %}
{% block content %}
<section>
  <div>
  <h1>Create Task</h1>
  <form method="POST">
  {% csrf_token %}
  {% for field in form %}
  <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% if field.help_text %}
    <small class="help">{{ field.help_text|safe }}</small>
    {% endif %}
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  </p>
  {% endfor %}
  <button type="submit">Create Task</button>
  </form>
  <h1>Assigned Task</h1>
  {% for task in tasks %}
   {{task}}
  {% endfor %}
  </div>
  <div>
<h1>Create Team</h1>
  {% for usr in users%}
  <p>
      {% if usr not in members %}
      {{usr.username}}
      <a href="{% url 'change_member' operation='add' pk=usr.pk %}"><button type="button" name="button">Add</button></a>
      {% endif %}
      </p>
  {% endfor %}
<p>{% if user.is_authenticated  %} {{user.username}} {% else %}visitor{% endif %}</p>
<h1>Team Member</h1>
{% for member in members%}
<p>
{{member.username}}
<a href="{% url 'change_member' operation='remove' pk=member.pk %}"><button type="button" name="button">Remove</button></a>
</p>
{% endfor %}
</div>
</section>
{% endblock %}
