{% extends 'djangoApp/base.html' %}
{% block content %}
<div class="login card" style="width: 18rem; text-align:center; background-color:#dfe6e9;">
    <h1 class="signin1">Sign in</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small class="help">{{ field.help_text|safe }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-info">Sign In</button>
    </div>
{% endblock %}
